@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1400px;
    padding: 0 80 px;
    margin: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 18px 2em;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: rgb(128, 240, 128);
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    cursor: default;
}

.navbar .menu li a:hover {
    color: rgb(128, 240, 128);
}

@media only screen and (max-width: 1400px) {
    .navbar {
        padding: 18px 25px
    }
}

.scrolling-active {
    /* This is for navbar when scroll */
    background-color: rgb(39, 39, 39);
    box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
    z-index: 1;
}

.home {
    background-image: url("images/Landing.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    color: white;
    min-height: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home-content {
    transform: translate(22px, -32px);
}

.home .home-content .text-1 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

.home .home-content .text-2 {
    font-family: 'Pacifico', cursive;
    font-family: 'Dancing Script', cursive;
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
    color: rgb(255, 255, 255);
}

.home .home-content .text-3 span {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    background-color: rgb(255, 255, 255);
    padding: 1px 3px;
}

.shop {
    display: flex;
    background-color: white;
    color: black;
    min-height: 500px;
    font-family: Arial, Helvetica, sans-serif
}

.shop .max-width {
    margin-top: 30px;
}

.food-deck {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 200px;
    gap: 20px;
    font-family: sans-serif;
    justify-content: center;
}

.food-card {
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    margin: 5px 0px;
    padding: 10px 10px;
    padding-bottom: 100px;
}

.food-card span {
    display: flex;
    justify-content: flex-end;
}

.food-deck .food-card img {
    width: 350px;
}

.food-deck .food-card .card-price {
    font-size: 18px;
    background-color: rgba(238, 238, 238, 0.877);
    display: flex;
    flex-direction: row;
    margin: 18px -10px -100px;
    padding: 10px 3px;
    justify-content: space-between;
}


/*-------------------- BUTTON -----------------*/

.add-button {
    background-color: #44c767;
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 23px;
    padding: 5px 11px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.add-button:hover {
    background-color: #5cbf2a;
}

.add-button:active {
    position: relative;
    top: 1px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
}

.min-button {
    background-color: #f03717;
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 23px;
    padding: 5px 14px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    visibility: visible;
}

.min-button:hover {
    background-color: #bf4d2a;
}

.min-button:active {
    position: relative;
    top: 1px;
}

.button1 {
    border-radius: 12px;
    margin-left: 650px;
    margin-top: 20px;
}

.add-to-cart {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.price {
    flex: 2;
}

h1 {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 24px;
}

.main-shop h1 {
    margin-top: 15px;
    font-size: 30px;
    display: flex;
    justify-content: left;
}

.cartlist-items-container h1 {
    margin-top: 15px;
    font-size: 30px;
    display: flex;
    justify-content: left;
    width: auto;
}

.cartlist-items-container {
    width: 50%;
    background-color: white;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 1em;
    z-index: 10;
}

.cartlist.hidden {
    opacity: 0;
    pointer-events: none;
    transition: all 0.35s ease-in-out;
}

.cartlist-items-container.hidden {
    opacity: 0;
    transform: scale(0.85);
    transition: all 0.15s ease-in-out 0.15s;
}

:not(.hidden).cartlist-items-container {
    opacity: 1;
    transform: scale(1);
    transition: all 0.15s ease-in-out 0.15s;
}

.cartlist {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.35s ease-in-out;
}

.cart-items {
    max-height: 40vh;
    overflow: auto;
}

.cartlist,
.cartlist-backdrop {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.cartlist-backdrop {
    background: rgba(0, 0, 0, .7);
    z-index: 9;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .5em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 1em auto 0 auto;
    font-size: 1.75em;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}