@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

/* Delete this after */
html{
    height: 5000px;
}
/*----------------- */
.max-width{
    max-width: 1400px;
    padding: 0 80 px;
    margin: auto;
}

.navbar{
    position: fixed;
    width: 100%;
    padding: 18px 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span{
    color: rgb(128, 240, 128);
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: rgb(128, 240, 128);
}


.scrolling-active{ /* This is for navbar when scroll */
    background-color: rgb(39, 39, 39);
    box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
    z-index: 1;
}

.home{
    
    background-image: url("images/Landing.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    color: white;
    min-height: 500px;
    font-family: Arial, Helvetica, sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}

.home-content{
    transform: translate(22px,-32px);
}

.home .home-content .text-1{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
   
}
.home .home-content .text-2{
    font-family: 'Pacifico', cursive;
    font-family: 'Dancing Script', cursive;
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
    color: rgb(255, 255, 255);
}
.home .home-content .text-3 span{
    color:rgb(0, 0, 0);
    font-weight:bolder;
    background-color: rgb(255, 255, 255);
    padding: 1px 3px;

}

.shop{
    display: flex;
    background-color: white;
    height: 10vh;
    color: black;
    min-height: 500px;
    font-family: Arial, Helvetica, sans-serif
}


.shop .max-width{
    margin-top: 30px;
}

.food-deck{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 200px;
    gap: 20px;
    font-family: sans-serif;
    justify-content: center;
    
    
}

.food-card{
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    margin: 5px 0px;
    padding: 10px 10px;
    padding-bottom: 100px;
}

.food-card span{
    display: flex;
    justify-content: flex-end;
    
}
.food-deck .food-card img{
    width: 350px;
}
.food-deck .food-card .card-price{
    font-size: 18px;
    background-color: rgba(238, 238, 238, 0.877);
    display: flex;
    padding: 15px;
    flex-direction: row;
    margin: 18px -10px -100px;
    padding: 10px 3px;
}

/*-------------------- BUTTON -----------------*/
.add-button {
	background-color:#44c767;
	border-radius:30px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	padding:5px 11px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    margin-left: 240px;
}
.add-button:hover {
	background-color:#5cbf2a;
}
.add-button:active {
	position:relative;
	top:1px;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    
  }
  .button1 {
      border-radius: 12px;
      margin-left: 650px;
      margin-top: 20px;

}


/* img{
    margin-top: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

h1{
    font-size: 30px;
    display: flex;
    justify-content: center;

}

h2{
    font-size: 24px;
}

.main-shop h1{
    margin-top: 15px;
    font-size: 30px;
    display: flex;
    justify-content: left;
}


.footer-deck{
    display: flex;
    background-color: DarkSalmon;
    color: white;
    align-items: flex-end;
  }